.test{
    background-color: aqua;
    height: 200px;
    width: 300px;
    padding: 50px 30px 30px 30px;
}
.test-1{
    background-color: lime;
    height: 400px;
    width: 500px;
    margin: 150px 850px;
    border-top: 7px solid red;
    border-right: 7px dotted blue;
    border-bottom: 7px dashed yellow;
    border-left: 7px solid black;
}
.set-1{
    background-color: blue;
    height: 100px;
    width: 100px;
    color: white;
    margin: 20px 50px;
    border: 5px solid red;
    padding: 10px;
}
